html, body{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #b0ccab;
    padding: 50px;
}

.main__paragraph{
    left: 40px;
    position: fixed;
}

.main > p{
    position: relative;
}